<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Todo Application</title>
</head>

<body>
    <h1>Todo Application</h1>
    
    <form action="/todos" method="POST" id="addTodoForm">
        <input type="text" id="todoTitle" placeholder="Enter task" name="title" required>
        <button type="submit">Add Task</button>
    </form>

    <ul id="todoList">
        {% for todo in todos %}
            <li>
                {{ todo.title }} {% if todo.completed %}✔️{% endif %}
            </li>
        {% else %}
            <li>No tasks found.</li>
        {% endfor %}
    </ul>
</body>

</html>
